"""{{pipeline_display_name}} Preset Config.

Authors:
    {{author_name}} ({{author_email}})

References:
    NONE
"""

from glchat_plugin.pipeline.base_pipeline_preset_config import BasePipelinePresetConfig


class {{pipeline_name}}PresetConfig(BasePipelinePresetConfig):
    """A Pydantic model representing the preset config of a {{pipeline_display_name}} pipeline.

    Inherits attributes from `BasePipelinePresetConfig`.

    Attributes:
        None
    """

    chat_history_pair_limit: int
